@use "../core/variables" as *;
@use "../core/mixins" as *;
.button {
	display: inline-flex;
	align-items: center;
	padding: 10px 16px;

	font-weight: 600;
	font-size: 0.75rem;
	line-height: 1.2;
	text-align: center;
	color: #ffffff;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: 0.083em;

	background-color: $accent;
	border: none;
	cursor: pointer;

	@include focus-hover {
		background-color: darken($accent, 15%);
	}

	&__append {
		margin-left: 6px;
	}

	&:active {
		background-color: darken($accent, 35%);
	}

	@media (width > 500px) {
		padding: 15px 25px;

		font-size: 14px;
		&__append {
			margin-left: 10px;
		}
	}
}
