@use "../core/variables" as *;

.container {
	width: 100%;
	padding: {
		left: $mobile-offset;
		right: $mobile-offset;
	}
	margin: {
		right: auto;
		left: auto;
	}
	max-width: $container-width + 2 * $mobile-offset;
}
