@use "../core/variables" as *;

:root {
	--back: #{$white};
	--front: #{$black};

	/* @media (prefers-color-scheme: dark) {
		--back: #{$black};
		--front: #{$white};
	} */
}

img {
	max-width: 100%;
	object-fit: contain;
}


body {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	background-color: var(--back);
	color: var(--front);
	font-family: "Lato", sans-serif;
	font-family: "Poppins", sans-serif;

	min-height: 100vh;
	min-height: -webkit-fill-available;
}
