-
	let lang =  "en"
	let pageTitle = "Default Title"

block variables

doctype html
html(lang=lang)
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		title=pageTitle
		link(rel="stylesheet" href="css/style.css")
		link(rel='preconnect' href='https://fonts.googleapis.com')
		link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
		link(href='https://fonts.googleapis.com/css2?family=Lato&family=Poppins:wght@400;500;600;700&display=swap' rel='stylesheet')

		//---- Favicons ----
		link(rel="icon" href="/favicon.ico")
		//- 32×32
		link(rel="icon" href="/icon.svg" type="image/svg+xml")
		link(rel="apple-touch-icon" href="/apple-touch-icon.png")
		//- 180×180
		link(rel="manifest" href="/manifest.webmanifest")
		block head

	body
		include _mixins
		block body

		script(type="module" src="js/main.js")
		script(nomodule, src="js/main.legacy.js", defer)
