extends common/_base

block variables
	-pageTitle = "Avaken"

block body
	include ./includes/header
	main.main.container
		h1.visually-hidden=pageTitle
		include ./includes/intro
		include ./includes/services
		include ./includes/about-us
