section.section-header.-text#about
	h2._subtitle About us
	p._title
		strong Sit bibendum id proin felis auctor erat ac.
	p._text Aliquam egestas hac morbi eu. Eros, elit est diam mattis laoreet faucibus lectus. Cursus sed tellus augue morbi pulvinar. Consequat nisi, integer potenti consectetur. Sed leo massa morbi iaculis viverra.
		br
		a(href="#").link Read more
			+pasteSVGicon({icon: 'arrow-right', height: 11, width: 11, fill: "currentColor", className: "link__append"})

