@use "../core/variables" as *;

.logo {
	&__far {
		display: none;
	}

	@media screen and (width > $smallToMediumBP) {
		width: 204px;
		height: 51px;

		&__close {
			display: none;
		}

		&__far {
			display: block;
		}
	}
}
