@use "../core/variables" as *;

.services {
	padding: 50px 0;
	&__list {
		display: grid;

		gap: $mobile-offset;
		list-style: none;
		padding: 0;
		margin: 0;
	}

	@media (width > 360px) {
		&__list {
			grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
		}
	}

	@media (width > 800px) {
		padding: 100px 0;
		&__list {
			margin-top: 72px;
		}
	}

}
